#pj_highlight_level3.row
  .col-md-4
    article#node-160422.node.node-news.node-promoted.teaser.pj_teaser_highlight.p2_teaser_highlight_bottom.pj_teaser_highlight_bottom.clearfix
  
      - var link1 = slice.primary.titre_1
      - var link1Url = ctx.linkResolver(link1)
      
      hr.top-line
      .inner
        .cover
          a.cover-image-link(href=link1Url)
            img(src=link1.data.image.url, width='315', height='210', alt=link1.data.image.alt)
          .categs-wrapper
            span.content-type.uc
              a(href='#') Dossier
            span.category.uc
              a(href='#') Wealth management
            .clearfix
        .properties
          .title
            h2
              a(href=link1Url) !{link1.data.titre_home}
          .extended-wrapper
            span.date.uc.clearfix 10.11.2017
            .author Par 
              a(href='#') Jean-Michel Hennebert
            .clearfix
          .content
            p !{link1.data.chapo_home}
          .clearfix
      hr.bottom-line
      
  .col-md-4
    article#node-161146.node.node-rendez-vous.node-promoted.teaser.pj_teaser_highlight.pj_teaser_highlight_bottom.clearfix
  
      - var link2 = slice.primary.titre_2
      - var link2Url = ctx.linkResolver(link2)
      
      hr.top-line
      .inner
        .cover
          a.cover-image-link(href=link2Url)
            img(src=link2.data.image.url, width='315', height='210', alt=link2.data.image.alt)
          .categs-wrapper
            span.content-type.uc
              a(href='#') Rendez-vous
            span.category.uc
              a(href='#') Communication
            .clearfix
        .properties
          .title
            h2
              a(href=link2Url) !{link2.data.titre_home}
          .extended-wrapper
            span.date.uc.clearfix 11.11.2017
            .author Par 
              a(href='#') Thierry Raizer et Jean-Michel Hennebert
            .clearfix
          .content
            p  !{link2.data.chapo_home}
          .clearfix
      hr.bottom-line
      
  .col-md-4
    article#node-161194.node.node-news.node-promoted.teaser.pj_teaser_highlight.pj_teaser_highlight_bottom.clearfix
  
      - var link3 = slice.primary.titre_3
      - var link3Url = ctx.linkResolver(link3)
      
      hr.top-line
      .inner
        .cover
          a.cover-image-link(href=link3Url)
            img(src=link3.data.image.url, width='315', height='210', alt=link3.data.image.alt)
          .categs-wrapper
            span.content-type.uc
              a(href='#') News
            span.category.uc
              a(href='#') International
            .clearfix
        .properties
          .title
            h2
              a(href=link3Url) !{link3.data.titre_home}
          .extended-wrapper
            span.date.uc.clearfix 09:51
            .author Par 
              a(href='#') Paperjam.lu
            .clearfix
          .content
            p  !{link3.data.chapo_home}
          .clearfix
      hr.bottom-line
hr.bottom-line