#pj_highlight_level2.row
  .col-md-3
    article#node-161186.node.node-news.node-promoted.teaser.pj_teaser_highlight.pj_teaser_highlight_right.clearfix
  
      - var link1 = slice.primary.titre_1
      - var link1Url = ctx.linkResolver(link1)
  
      hr.top-line
      .inner
        .cover
          a.cover-image-link(href=link1Url)
            img(src=link1.data.image.url, width='315', height='210', alt=link1.data.image.alt)
          .categs-wrapper
            span.content-type.uc
              a(href='#') News
            span.category.uc
              a(href='#') Europe
            .clearfix
        .properties
          .title
            h2
              a(href=link1Url) !{link1.data.titre_home} 
          .extended-wrapper
            span.date.uc.clearfix 05:51
            .author Par 
              a(href='#') Thierry Raizer
            .clearfix
          .clearfix
      hr.bottom-line
      
  .col-md-3
    article#node-161192.node.node-news.node-promoted.teaser.pj_teaser_highlight.pj_teaser_highlight_right.no-picture-on-homepage.clearfix
  
      - var link2 = slice.primary.titre_2
      - var link2Url = ctx.linkResolver(link2)
      
      hr.top-line
      .inner
        .cover
          a.cover-image-link(href=link2Url)
            img(src=link2.data.image.url, width='315', height='210', alt=link2.data.image.alt)
          .categs-wrapper
            span.content-type.uc
              a(href='#') News
            span.category.uc
              a(href='#') Société
            .clearfix
        .properties
          .title
            h2
              a(href=link2Url) !{link2.data.titre_home}
          .extended-wrapper
            span.date.uc.clearfix 08:39
            .author Par 
              a(href='#') Paperjam.lu
            .clearfix
          .clearfix
      hr.bottom-line
      
  .col-md-3
    article#node-161188.node.node-3-questions-a.node-promoted.teaser.pj_teaser_highlight.pj_teaser_highlight_right.clearfix
  
      - var link3 = slice.primary.titre_3
      - var link3Url = ctx.linkResolver(link3)
      
      hr.top-line
      .inner
        .cover
          a.cover-image-link(href=link3Url)
            img(src=link3.data.image.url, width='315', height='210', alt=link3.data.image.alt)
          .categs-wrapper
            span.content-type.uc
              a(href='#') 3 questions à...
            span.category.uc
              a(href='#') Start-up
            .clearfix
        .properties
          .title
            h2
              a(href=link3Url) !{link3.data.titre_home}
          .extended-wrapper
            span.date.uc.clearfix 07:41
            .author Interview par 
              a(href='#') Paperjam.lu
            .clearfix
          .clearfix
      hr.bottom-line
  .col-md-3
    article#node-161178.node.node-news.node-promoted.teaser.pj_teaser_highlight.pj_teaser_highlight_right.no-picture-on-homepage.clearfix
  
      - var link4 = slice.primary.titre_4
      - var link4Url = ctx.linkResolver(link4)
      
      hr.top-line
      .inner
        .cover
          a.cover-image-link(href=link4Url)
            img(src=link4.data.image.url, width='315', height='210', alt=link4.data.image.alt)
          .categs-wrapper
            span.content-type.uc
              a(href='#') News
            span.category.uc
              a(href='#') Politique
            .clearfix
        .properties
          .title
            h2
              a(href=link4Url) !{link4.data.titre_home}
          .extended-wrapper
            span.date.uc.clearfix 12.11.2017
            .author Par 
              a(href='#') Paperjam.lu
            .clearfix
          .clearfix
      hr.bottom-line
.row.pj_highlight_line_separator
  .col-md-3
    hr.bottom-line
  .col-md-3
    hr.bottom-line
  .col-md-3
    hr.bottom-line
  .col-md-3
    hr.bottom-line